text {
    font-size: 30px;
    fill: var(--text-color);
}

svg {
    border: 1px solid;
    background-color: var(--canvas-color);
}

/* Nodes */

g.node > circle {
    stroke: var(--border-color);
    fill: var(--node-color);
    stroke-width: 2px;
}

g.node > rect {
    stroke: var(--border-color);
    fill: var(--node-color);
    stroke-width: 2px;
}

g.node > text {
    fill: var(--node-text-color);
    text-anchor: middle;
    dominant-baseline: middle;
}

g.node:hover {
    cursor: grab;
}

g.node.selected > circle {
    fill: var(--selected-color);
    filter: var(--selected-drop-shadow);
}

g.node.selected > rect {
    fill: var(--selected-color);
    filter: var(--selected-drop-shadow);
}

g.node.selected > marker {
    fill: var(--selected-color);
}

g.node.selected > text {
    fill: var(--node-text-color);
}

g.node:hover > circle {
    fill: var(--selected-color);
}

g.node:hover > rect {
    fill: var(--selected-color);
}

g.node:hover > text {
    fill: var(--node-text-color);
}

text.hidden {
    display: none;
}


/* Edges */

path.line.hidden {
    stroke-width: 0;
    stroke: var(--edge-color);
}

path.line {
    stroke: var(--text-color);
    stroke-width: 6px;
    marker-end: url("#end-arrow")
}

.edge > path {
    stroke: white;
}

.edge.selected > path {
    stroke: var(--selected-color);
    filter: var(--selected-drop-shadow);
    marker-end: url("#selected-end-arrow");
}

.edge.selected > text {
    fill: var(--node-text-color);
}

marker {
    fill: var(--text-color);
}

#selected-end-arrow {
    fill: var(--selected-color);
}

#selected-end-arrow > path {
    stroke: var(--selected-color);
}

.edge:hover {
    cursor: pointer;
}

.edge:hover .line {
    marker-end: url("#selected-end-arrow");
    stroke: var(--selected-color);
}

.edge:hover text {
    fill: var(--node-text-color);
}

/* Intermediate edge during drag */

path.line.dragline {
    stroke: var(--edge-color);
    marker-end: url("#mark-end-arrow");
}

path.line.dragline.hidden {
    marker-end: none;
}

path.line.dragline:hover {
    stroke: var(--edge-color);
    cursor: pointer;
}