:root {
    --canvas-width: 50%;
    --text-color: black;
    --canvas-color: #11071c;
    --node-color: #1e0d32;
    --edge-color: white;
    --border-color: white;
    --selected-color: #b5027a;
    --node-text-color: white;
    --selected-drop-shadow: drop-shadow(0px 0px 20px rgb(181 2 122 / 0.9));
    font-family: "Calibri", "Arial", sans-serif;
    line-height: 1.5;
    overflow: auto;
    background-color: #f8f8f8;
    color: var(--text-color);
}

.light-theme {
    --canvas-color: white;
    --node-color: #e0e5e9;
    --edge-color: #9a98a2;
    --border-color: #c9cfd4;
    --selected-color: #19e5c0;
    --node-text-color: black;
    --selected-drop-shadow: drop-shadow(0px 0px 20px rgb(25 229 192 / 0.9));
}

body {
    margin: auto;
    width: var(--canvas-width);
    text-align: center;
    padding: 0.7em 0.7em;
}

/* Canvas figure */

figure {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Attribute tables */

table {
    border-collapse: collapse;
    margin-bottom: 15px;
    text-align: left;
    font-size: 15px;
}

th,
td {
    padding: 0.1rem 0.3rem;
}

table th {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #54585d;
}

table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}

table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

/* SVG: some useful defaults */

svg.verzettelung circle, rect, ellipse, line, path {
    stroke: var(--text-color);
}

svg.verzettelung path {
    fill: none;
}

svg.verzettelung text {
    fill: var(--text-color);
}

.katex {
    font-size: 1.13em;
}

.katex-display {
    overflow: auto hidden;
    /* Hack to prevent clipping */
    padding: 1px 0;
    margin: calc(1em - 1px) 0;
}

/* Buttons */
#util-buttons {
    text-align: left;
}

button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 4px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
}

button:disabled {
    background-color: #e0e5e9;
    cursor: not-allowed;
}

input[type=button] {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}

input[type=file] {
    display: none;
}

button:hover, input[type=button]:hover {
    background-color: #e0e5e9;
}
